<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp1.Properties.Settings.LoginDataset"
            connectionString="Host=127.0.0.1;Database=Koperasi;Username=postgres;Password=hahaha;Persist Security Info=True"
            providerName="Npgsql" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>